/* Style général */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

/* Style de l'en-tête */
header {
  background-color: #333;
  color: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

/* Style pour la barre de navigation */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #555;
}

.logo {
  min-width: 100px;
}

#about {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.profile {
  flex: 1;
}

/* Style pour l'image de profil */
#myImage {
  width: 150px;
  height: 200px;
  border-radius: 10%;
  overflow: hidden;
  object-fit: cover;
  margin-right: 20px;
}

.description {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  margin-right: 10%;
}

.more {
  background: #555;
  color: #fff; /* Ajout de la couleur du texte pour une meilleure lisibilité */
  padding: 10px 20px; /* Ajout de rembourrage pour une meilleure apparence */
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Ajout de coins arrondis */
  cursor: pointer;
}

.more:hover {
  background: #333; /* Changement de couleur au survol */
}

#bio {
  text-align: center;
}

/* Style pour le contenu supplémentaire */
#aboutContent {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#aboutContent.visible {
  display: block;
  width: auto;
  opacity: 1;
}

#aboutContent p {
  text-align: center;
}

/* Style pour la section "Experience" */
#experience {
  text-align: center;
}

#experience ul {
  list-style-type: none;
}

/* Style pour la section "Skills" */
#skills {
  text-align: center;
  margin-bottom: 20px;
}

#skills p {
  margin-bottom: 20px;
}
#skillsContent {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

#skills .img-crt {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#skills .img-crt img {
  width: 200px;
  height: auto;
  margin: 10px;
}

/* Style pour le modal */
.modal {
  cursor: pointer;
}

/* Style pour l'overlay du modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

/* Style pour l'image agrandie dans le modal */
.modal-content {
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.3s ease;
}

/* Style pour le bouton de fermeture du modal */
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  transition: opacity 0.3s ease;
}

/* Style pour la section "Contact" */
#contact h2 {
  text-align: center;
}

/* Style pour le formulaire de contact */
#contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

#contact-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#contact-form button[type="submit"]:hover {
  background-color: #555;
}

footer {
  background-color: #efefef;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}

.icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.icons a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-radius: 50%;
  color: #333;
  font-size: 18px;
}

.icons a:hover {
  background-color: rgba(5, 5, 5, 0.2);
}
